.nav {
  padding: 16px;
  box-shadow: 0px 4px 4px black;
}
.link {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 8px;
  color: rgb(136, 132, 132);
}

.active {
  color: rgb(197, 15, 15);
}
